
.info{
    height: 85vh;
    background-position-y: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.details{
    text-align: center;
}

@media screen and (min-width: 992px) and (max-width: 1980px) {
  }
  
  @media screen and (min-width: 500px) and (max-width: 991px) {
  }
  
  @media screen and (max-width: 499px) {
    .info{
        height: 100vh;
    }
  }
  